<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Sun May 03 2015 18:36:49 GMT+0000 (UTC) -->
<html data-wf-site="55340058777d17b75ce8804c" data-wf-page="5534281e0149842768585455">

<head>
  <meta charset="utf-8">
  <title>Fappmail - Sending Anonymous Porn Clips to Others.</title>
  <meta name="description" content="Sending Porn Clips via email, adult clips, Fappmail, fapping mail, fab mail, fabbmail, fabmail, naughty emails, porn clips via email, email service porn clips">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="&lt;meta name=&quot;google-site-verification&quot; content=&quot;VPUofcviV3H-HJbJtSgYM8Jn4BsDmGO-jqLV0lk0QvM&quot; /&gt;">
  <meta name="generator" content="Webflow">




  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="../../assets/webflow.css">
  <link rel="stylesheet" type="text/css" href="../../assets/fappmail.webflow.css">
  <link rel="shortcut icon" type="image/x-icon" href="../../assets/Penis_1.png">
  <link rel="apple-touch-icon" href="../../assets/logo_T4j_icon.ico">









  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto:300,regular","Roboto Condensed:regular"]
      }
    });
  </script>
  <script type="text/javascript" src="../../assets/modernizr.js"></script>
  
  


  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-62022174-1'], ['_trackPageview']);
    (function() {
      var ga = document.createElement('script');
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <!-- Hotjar Tracking Code for fappmail.webflow.com -->
  <script>
    (function(f,b){
        var c;
        f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
        f._hjSettings={hjid:29434, hjsv:3};
        c=b.createElement("script");c.async=1;
        c.src="https://static.hotjar.com/c/hotjar-29434.js?sv=3";
        b.getElementsByTagName("head")[0].appendChild(c); 
    })(window,document);
  </script>
</head>





<body>
  <div class="w-section navbar">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 left-nav"><img class="logo" src="assets/fappmail_Logo1.png" width="200">
        </div>
        <div class="w-col w-col-6 w-col-small-6 w-col-tiny-6 right-nav">
          <a class="w-inline-block social-btn" href="http://facebook.com/webflow"></a>
          <a class="w-inline-block social-btn" href="https://twitter.com/Fappmail" target="_blank"><img src="assets/twitter-icon_black.svg" width="25">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey top" data-anchor="slide1">
    <h2 class="grey-heading">Send anonymous porn clips.&nbsp;</h2>
    <p>Please select content type&nbsp;</p>
    <div class="w-row divider">
      <div class="w-col w-col-4 w-col-small-4 hero teen">
        <div class="image-text" teenanal="Teen Anal">
          <h1 class="image-headline"><span class="image-headline">Teen Anal</span></h1>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 hero teen toy">
        <div class="image-text">
          <h1 class="image-headline">Toy Haven</h1>
        </div>
      </div>
      <div class="w-col w-col-4 w-col-small-4 hero teen bdsm">
        <div class="image-text">
          <h1 class="image-headline">BDSM Slave</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section hero">
    <div class="w-container container">
      <div class="w-form sign-up-form">
        <form class="w-clearfix form-error" name="wf-form-signup-form" data-name="Signup Form" method="get">
          <input class="w-input field" type="email" placeholder="Enter email address" name="email" data-name="Email" required="required">
          <input class="w-button button" type="submit" value="Send clip" data-wait="Please wait...">
        </form>
        <div class="w-form-done success-message">
          <p class="success-message text">Email Send!
            <br>You just made somebody’s day a little bit brighter;)</p>
          <p class="spread-word">Press the bird to share&nbsp;</p>
          <div class="w-clearfix social-widget-wrapper">
            <div class="w-widget w-widget-twitter social-widget">
              <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Ffappmail.com&amp;counturl=fappmail.com&amp;text=Just%20made%20somebody's%20day%20a%20bit%20brighter%20using%20%40fappmail%20%23gotfapped&amp;count=none&amp;size=l&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 76px; height: 28px;"></iframe>
            </div>
          </div>
        </div>
        <div class="w-form-fail error-message">
          <p class="error-message text">Oops! Something went wrong... Try again.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-section section grey footer">
    <div class="w-row bottom">
      <div class="w-col w-col-4 footer"></div>
      <div class="w-col w-col-4">
        <div class="w-container footer">
          <a class="w-inline-block social-btn footer" href="https://twitter.com/Fappmail" target="_blank"><img src="assets/twitter-icon_black.svg">
          </a>
          <a class="w-inline-block social-btn footer" href="mailto:Info@fappmail.com?subject=Hi!"><img src="assets/email-icon-black.svg">
          </a>
        </div>
      </div>
      <div class="w-col w-col-4 egg"></div>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/webflow.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>